<%- include('../layouts/userLayouts/header.ejs') %>
<%- include('../layouts/userLayouts/navbar.ejs') %>


<main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount -->
            			<form action="#">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									<div class="d-flex justify-content-end">
										<a href="/addAddress" type="button" class="btn btn-success"> Add Address</a>
									
									</div>
		                				<div class="row">
		                					<div class="col-lg-12">
		                						

<%
if(address.length > 0){
    address.forEach((address) =>{
%>

                                                
                                                        <div class="card card-dashboard">
                                                            <div class="card-body">
                                                                <input class="form-check-input" type="radio" name="flexRadioDefault" ><br>
                                                                <h3 class="card-title"> Address</h3><!-- End .card-title -->
                                            <ul>
                                                <li>full Name : <span><%= address.userName %></span></li>
                                                <li>Mobile No : <%= address.mobile %></li>
                                                <li>House Name : <%= address.houseName %></li>
                                                <li>City : <%= address.city %></li>
                                                <li>State : <%= address.state %></li>   
                                                <li>Pincode : <%= address.pincode %></li>   
                                                <li>Landmark : <%= address.landmark %></li>   
                                                               
                                                                <a class="btn btn-outline-primary-2" type="button" href="/editAddress/<%= address._id %>">Edit </a> 
                                                                <a class="btn btn-outline-primary-2 " type="button" onclick="deleteAddress('<%= address._id %>')">Delete </a>
                                                            </ul>
                                                           
                                                        </div><!-- End .card-dashboard -->
                                                    <!-- </label> -->
                                                  </div>
                                                <%
                        						})
                      							  }
                            					%>
                                             
                                                <!-- <div class="d-flex justify-content-end">
                                                    <a href="/addAddress" type="button" class="btn btn-success"> Add Address</a>
                                                
                                                </div> -->
		                					</div><!-- End .col-lg-12 -->
                                            
		                				</div><!-- End .row -->
	
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					

		                					<tbody>
		                						

		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹ <%= Total %>.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>₹ 80.00</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹ <%= totalAmount %>.00</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">

										    <!-- <div class="card">
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    Direct bank transfer
										                </a>
										            </h2>
										        </div>
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										        
										        </div>
										    </div> -->

										    <!-- <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Check payments
										                </a>
										            </h2>
										        </div>
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										           
										        </div>
										    </div> -->

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <!-- <a class="collapsed" type="radio">
										                    Cash on delivery
										                </a> -->
														<input type="radio">    Cash on delivery
										            </h2>
										        </div><!-- End .card-header -->
										        <!-- <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment"> -->
										            
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <!-- <div class="card">
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    PayPal 
                                                            
										                </a>
										            </h2>
										        </div>
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										           
										        </div>
										    </div> -->

										    <!-- <div class="card">
										        <div class="card-header" id="heading-5">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
										                    Credit Card (Stripe)
										                    <img src="userAssets/images/payments-summary.png" alt="payments cards">
										                </a>
										            </h2>
										        </div><!-- End .card-header -- -->
										        <!-- <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment"> -->
										           
										        </div><!-- End .collapse --
										    </div><!-- End .card --
										</div><!-- End .accordion -->

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		<script>
			function deleteAddress(addressId) {
				
  Swal.fire({
    title: 'Are you sure?',
    text: 'You want to delete address',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete!'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: '/deleteAddress',
        data: {
          address: addressId,
          
        },
        method: 'post',
        success: (response) => {
          location.reload();
		// $("#reloaddiv").load('/checkout #reloaddiv')
          Swal.fire({
            title: 'Deleted!',
            text: 'Your item has been deleted.',
            icon: 'success',
            timer: 1500,
            showConfirmButton: false
          });
        },
        error: (error) => {
          console.log(error);
          Swal.fire({
            title: 'Error!',
            text: 'An error occurred while deleting the item.',
            icon: 'error',
            showConfirmButton: false
          });
        }
      });
    }
  });
}
		</script>
        <%- include('../layouts/userLayouts/footer.ejs') %>