<%- include('../layouts/userLayouts/header.ejs') %>
<%- include('../layouts/userLayouts/navbar.ejs') %>


<main class="main">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				<form action="" >
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount -->
            			<form action="" id="checkoutForm">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
									<div class="d-flex justify-content-end">
										<a href="/addAddress" type="button" class="btn btn-outline-primary-2 mb-2"> Add Address</a>
									
									</div>
		                				<div class="row">
		                					<div class="col-lg-12">
		                						

													<%
														if(address.length > 0){
    													address.forEach((address) =>{
													%>

                                                        <div class="card card-dashboard  ">
                                                        <div class="card-body ">
                                                        <input class="form-check-input " type="radio" name="selectAddress" value="<%= address.userName %>,<%= address.mobile %>,<%= address.houseName %>,<%= address.city %>,<%= address.state %>,<%= address.pincode %>,<%= address.landmark %>" ><br>
                                                        <h3 class="card-title"> Address</h3><!-- End .card-title -->
                                            <ul>
                                                <li>full Name : <span><%= address.userName %></span></li>
                                                <li>Mobile No : <%= address.mobile %></li>
                                                <li>House Name : <%= address.houseName %></li>
                                                <li>City : <%= address.city %></li>
                                                <li>State : <%= address.state %></li>   
                                                <li>Pincode : <%= address.pincode %></li>   
                                                <li>Landmark : <%= address.landmark %></li>   
                                                               
                                                                <a class="btn btn-outline-primary-2" type="button" href="/editAddress/<%= address._id %>">Edit </a> 
                                                                <a class="btn btn-outline-primary-2 " type="button" onclick="deleteAddress('<%= address._id %>')">Delete </a>
                                                            </ul>
                                                        </div><!-- End .card-dashboard -->
                                                    <!-- </label> -->
                                                  </div>
                                                <%
                        						})
                      							  }
                            					%>
                                             
                                                <!-- <div class="d-flex justify-content-end">
                                                    <a href="/addAddress" type="button" class="btn btn-success"> Add Address</a>
                                                
                                                </div> -->
		                					</div><!-- End .col-lg-12 -->
                                            
		                				</div><!-- End .row -->
	
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					

		                					<tbody>
		                						

		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td >₹<span id="gt2"><%= Total %>.00</span> </td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>₹ 80.00</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td >₹ <span id="gt4"><%= totalAmount %>.00</span></td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <!-- <a class="collapsed" type="radio">
										                    Cash on delivery
										                </a> -->
														<input type="radio" id="COD" value="COD" name="payment">Cash on delivery</h2>
										        </div><!-- End .card-header -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->


		                				<div class="accordion-summary" id="accordion-payment">										
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">										                
														<input type="radio" id="wallet" value="Wallet" name="payment">Wallet</h2>
										        </div><!-- End .card-header -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

		                				<div class="accordion-summary" id="accordion-payment">										
										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">										                
														<input type="radio" id="onlinePayment" value="onlinePayment" name="payment">Razor Pay</h2>
										        </div><!-- End .card-header -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										        </div><!-- End .collapse -->										   
		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Place Order</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
		
		
		<script>
			function deleteAddress(addressId) {
				
  Swal.fire({
    title: 'Are you sure?',
    text: 'You want to delete address',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, delete!'
  }).then((result) => {
    if (result.isConfirmed) {
      $.ajax({
        url: '/deleteAddress',
        data: {
          address: addressId,
          
        },
        method: 'post',
        success: (response) => {
          location.reload();
		// $("#reloaddiv").load('/checkout #reloaddiv')
          Swal.fire({
            title: 'Deleted!',
            text: 'Your item has been deleted.',
            icon: 'success',
            timer: 1500,
            showConfirmButton: false
          });
        },
        error: (error) => {
          console.log(error);
          Swal.fire({
            title: 'Error!',
            text: 'An error occurred while deleting the item.',
            icon: 'error',
            showConfirmButton: false
          });
        }
      });
    }
  });
}

$("#checkoutForm").submit((e) => {
	const amount = document.getElementById("gt4").innerHTML;
	let address = $("input[name=selectAddress]:checked").val();
	let payment = $("input[name=payment]:checked").val();
	e.preventDefault()
	$.ajax({
		url:"/placeOrder",
		method:"post",
		data:{
			amount:amount,
			address:address,
			payment:payment
	},
	success:(response) =>{
		if(response.codSuccess == true){
			swal.fire({
                  positon: 'center',
                  icon: "success",
                  title: 'Order Placed Successfully',
                  showConfirmButton: false,
                  showCancelButton: true,
                  cancelButtonText: "Go to Shop",
              }).then((result) => {
                  if (result.dismiss === swal.DismissReason.cancel) {
                      // Redirect to the shop page
                      window.location.href = "/shop";
                  }
              });
		}else if(response.walletFailed == true){
			swal.fire({
                  positon: 'center',
                  icon: "error",
                  title: 'Insufficient Balance In Your Wallet',
                  showConfirmButton: false,
                  showCancelButton: false,
                  timer:1500
              })
		}
		else{
			razorpayPayment(response.order);
		}
	}

	})
})
function razorpayPayment(order){
	var options = {
    "key": "rzp_test_W1c7v7Q09L27uH", 
    "amount": order.amount, 
    "currency": "INR",
    "name": "PH Times",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function(response) {
       verifyPayment(response,order);
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
    rzp1.open(); 
}

function verifyPayment(payment,order){
	const amount2 =document.getElementById("gt4").innerHTML;
	$.ajax({
		url:"/verifyPayment",
		method :"post",
		data:{
			payment:payment,
			amount2:amount2,
			order:order
		},
		success:(response) =>{
			if(response.success){
				swal.fire({
					positon:'center',
					icon:"success",
					title:"Your Order Placed Successfully",
					showConfirmButton:false,
					showCancelButton:true,
					cancelButtonText:"Back To Shop",

				}).then((result)=>{
					if(result.dismiss === swal.DismissReason.cancel){
						window.location.href = "/shop";
					}
				});
			}else{
				swal.fire({
            positon: 'center',
            icon: "error",
            title: 'payment failed',
            showConfirmButton: false,
            timer:1500,
        })
			}
			
		}
	})
}
		</script>
        <%- include('../layouts/userLayouts/footer.ejs') %>