
<%- include('../layouts/adminLayouts/header.ejs') %>
<%- include('../layouts/adminLayouts/sidebar.ejs') %>
<%- include('../layouts/adminLayouts/navbar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-body">
        <h4 class="card-title">ORDERS</h4>
        <div class="d-flex justify-content-center ">
           
          <div class="p-5 w-50 h-50" style="border: 1px solid #dee2e6">
              <h3>Order Details</h3>
            
             <span>User Name : <span class="font-weight-bold"> <%= orders.userName %> </span></span><br>
             <span>Total Amount : <span class="font-weight-bold"> <%= orders.totalAmount %> </span></span><br>
             <span>Payment Method :<span class="font-weight-bold"><%= orders.paymentMethod %> </span></span><br>
             <span> Order Id:</span><span class="font-weight-bold"> <%= orders._id %></span></span><br>
             <span>Address :</span><span class="font-weight-bold"><%= orders.deliveryAddress %></span></span><br>
          
            </div>
     </div>
     </div>

     
     <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
     <div class="card-body ">
      <h4 class="card-title">Hoverable Table</h4>
      <p class="card-description"> Add class <code>.table-hover</code>
      </p>

        <div class="table-responsive">
          <table class="table table">
            <thead>
              <tr>
                <th>No</th>
                <th>Image</th>
                <th>Product</th>
               
                <th>price</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% if(orders.products.length > 0){
                    orders.products.forEach((order,i)=>{
                       

                       
                      %>
                     
                  <tr>
                    
                    <td><%= i+1 %></td>
                    
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a >
                                    
                                        <img src="/adminAssets/adminImages/<%= order.productId.image[0]%>" alt="Product image">
                                   
                                </a>
                            </figure>
                            </div>
                          </td>
                    <td><%= order.productId.productName%></td>
                   
                    <td><%= order.productPrice%></td>
                    
                    <td><%= order.status%></td>
                    <td>
                    <%  if(order.status == 'cancelled' ){%>
                      <p class="text-danger">cancelled</p>
                   <% }else{ %>
                   <div class="dropdown">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuOutlineButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> ACTIONS </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton2">
                        
                        <a class="dropdown-item" onclick="updateStatus(this,'<%= order._id %>','<%= orders.userId %>')" href="#">placed</a>
                        <a class="dropdown-item" onclick="updateStatus(this,'<%= order._id %>','<%= orders.userId %>')" href="#">shiped</a>
                        <a class="dropdown-item" onclick="updateStatus(this,'<%= order._id %>','<%= orders.userId %>')" href="#">out for delivery</a>
                        <a class="dropdown-item" onclick="updateStatus(this,'<%= order._id %>','<%= orders.userId %>')" href="#">Delivered</a>
                        
                      </div>
                    </div>
                    <%}%>
                  </td>
                  </tr>
               
                  <%
                })
                }else{ %>
                          <h1 class="d-flex justify-content-center">You Have No Orders</h1>
                  <% } %>
             
            </tbody>
          </table>
        </div>
        </div>
        </div>
        </div>
       
      
    </div>
  </div>
</div>
<script>

  function updateStatus(status, id ,userId) {

    $.ajax({
      url: '/admin/updateStatus',
      method: 'post',
      data: { 
        status: status.innerText,
        id: id,
        userId:userId
      },
      success: (Response) => {
        location.reload();
      },
    });
  }

</script>

<%- include('../layouts/adminLayouts/footer.ejs') %>

